Repository redpencilio/docker-buildx: changes, and which Woodpecker steps are due for each by the changed paths.
All: lint-dockerfile, lint-markdown

lint-dockerfile:
  image: hadolint/hadolint:v2.12.1-beta-alpine
  depends_on: []
  commands:
  - hadolint --ignore DL3003 --ignore DL3018 Dockerfile

lint-markdown:
  image: davidanson/markdownlint-cli2:v0.13.0
  depends_on: []
  commands:
  - markdownlint-cli2 *.{md,markdown}

chore(deps): update docker/buildx-bin docker tag to v0.15.1
  Dockerfile
Due: lint-dockerfile

fix(deps): update module github.com/aws/aws-sdk-go to v1.54.18
  go.mod
  go.sum
Due: none

fix(deps): update module github.com/aws/aws-sdk-go to v1.54.19
  go.mod
  go.sum
Due: none

chore(deps): update docker/buildx-bin docker tag to v0.16.0
  Dockerfile
Due: lint-dockerfile

Add dedicated setting to automatically handle proxy configuration (#171)
  cmd/docker-buildx/config.go
  docs.md
  plugin/impl.go
  plugin/set_proxy.go
Due: lint-markdown

chore(deps): update woodpeckerci/plugin-docker-buildx docker tag to v4.1.0 (#172)
  .woodpecker/publish.yaml
Due: none

update version parse lib
  go.mod
  go.sum
Due: none

Update to github.com/urfave/cli/v3 (#173)
  cmd/docker-buildx/config.go
  cmd/docker-buildx/main.go
  go.mod
  go.sum
  plugin/docker.go
  plugin/docker_test.go
  plugin/ecr.go
  plugin/impl.go
  plugin/impl_test.go
  plugin/labels.go
  plugin/plugin.go
  plugin/set_proxy.go
Due: none

Update drone-plugin-lib to handle nil pointer (#178)
  go.mod
  go.sum
Due: none

fix(deps): update github.com/urfave/cli/v3 digest to 127cf54
  go.mod
  go.sum
Due: none

chore(deps): update docker/buildx-bin docker tag to v0.16.1
  Dockerfile
Due: lint-dockerfile

chore(deps): update woodpeckerci/plugin-docker-buildx docker tag to v4.2.0
  .woodpecker/publish.yaml
Due: none

chore(deps): update docker docker tag to v27 (#170)
  Dockerfile
Due: lint-dockerfile

chore(deps): update docker/buildx-bin docker tag to v0.16.2
  Dockerfile
Due: lint-dockerfile

fix(deps): update module github.com/aws/aws-sdk-go to v1.55.3
  go.mod
  go.sum
Due: none

Add new RemoteBuilders plugin config
  cmd/docker-buildx/config.go
  plugin/impl.go
Due: none

Create builders using docker contexts with remote endpoints
  plugin/docker.go
  plugin/docker_test.go
  plugin/impl.go
Due: none

Add new SshKey plugin option
  cmd/docker-buildx/config.go
  plugin/impl.go
Due: none

Allow mixing local and remote builders, explain better in docs
  docs.md
  plugin/docker.go
  plugin/impl.go
Due: lint-markdown

Set remote builder driver to docker-container; don't create a context
  plugin/docker.go
  plugin/impl.go
Due: none

Add docs for remote builders
  docs.md
Due: lint-markdown

Add new hosts to known_hosts with ssh-keyscan
  plugin/impl.go
Due: none

Update woodpecker config for RPIO use
  .woodpecker/feature.yml
  .woodpecker/publish.yaml
Due: none

Path conditions:
  lint-dockerfile: any of: Dockerfile
  lint-markdown: any of: *.{md,markdown}
